:root{
    --primaryColor: #61c0bf;
    --secondaryColor: #ffb6b9;
}

body {
    width: 90%;
    font-family: 'Sen', sans-serif;
    margin: 10% auto;
    text-align: center;
}

ul {
    text-align: left;
}

.todo__text--done {
    text-decoration: line-through;
}

li {
    list-style-type: none;
}

.hide {
    display: none;
}